# Dependencies
node_modules/

# Production
dist/
build/
.next/
out/

# Environment Variables
.env*
.env.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# MISC
.DS_Store
.vercel
*.tsbuildinfo
*.pem

.vercel
.env*.local

# Firebase temporary files
.firebase/